.content{
    z-index: 2;
    position:relative;
}
p{
    margin-bottom: 30px;
    margin-top: 30px;
}

h5{
   
    font-weight: bold;

}

.btn-primary-filter{
    background-color:rgb(248,219,70);
    color: #111111;
  

}

.btn-primary-filter:hover {
    border: 1px solid black;

}

/* body,
html { 

   background: url(../images/sunflower.jpg) no-repeat center center fixed;  
   z-index: -2;
    color: transparent; -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
 } */

 .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    margin-top: 50px;
}

  .card{
    padding: 35px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    border: 1px solid rgba(0, 0, 0, 0.89);
}

.container{
    z-index: 5;
    font-family: "Open Sans", sans-serif;

}

.btn-outline-succes{
    background-color:rgb(248,219,70);
    color: #111111;

}
.btn-outline-succes:hover {
    border: 1px solid black;

}

.index{
margin-top:10px;
}


.table-hove{
    background-color: rgba(253, 253, 253, 0.81);;

 }

 .table-hove thead:first-child{
	border-bottom:1px solid rgba(0, 0, 0, 0.493);
border-spacing: 20px;
    border-collapse: collapse;
	background-color:rgba(253, 253, 253);

}
h1{
    text-align: center;
    padding-bottom: 30px;
    font-size: 40px;
}

.big{

border-top: 1px solid rgba(151, 148, 148, 0.89);
border-bottom: 1px solid rgba(151, 148, 148, 0.89);


}

.left{
border-top: 1px solid rgba(151, 148, 148, 0.89);
border-bottom: 1px solid rgba(151, 148, 148, 0.89);
border-left: 1px solid rgba(151, 148, 148, 0.89);


}

.right{

border-top: 1px solid rgba(151, 148, 148, 0.89);
border-bottom: 1px solid rgba(151, 148, 148, 0.89);
border-right: 1px solid rgba(151, 148, 148, 0.89);

}

input:focus::placeholder {
color: transparent;
}


.form-group{
  border-radius: 5px;
  font-size: 15px;
  padding-bottom: 15px;
  text-align: center;
 justify-content: center;
}


table {
    border-spacing: 30px 20px;
    margin: 200px auto;
    font-family: "Open Sans", sans-serif;
    width: 100%;

}
input[type='text']:focus{
    text-align:left;
 }

.d-flex{
margin-top: 50px;
margin-bottom: 50px;

}
.bi img{
    margin-right: 200px;
}
.col-big{     
 text-align: center;
 justify-content: center;
}

a.show:hover{
    color: rgb(252, 249, 249);
    text-decoration: none;
    font-weight: bold;
}

.one,
.two {
    
     text-decoration: none;
     color: black;
     font-family: "Open Sans", sans-serif;
     margin-right: 350px;
}

a.one:visited,
a.two:visited {
    color: black;
}

.one:hover,
.two:hover
 {
      color: black;
    font-weight: bold;
}
 

 


.AddShow {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    width:100%;
    border-spacing: 10px 0;;
    -webkit-justify-content: space-around; 
    justify-content: space-around; 
}

.one1,
.two2{
        width: 20px;
        text-align:center;
        font-size: 30px;

        transition: all 0.2s;
        padding: 5px 25px;
        color: rgb(0, 0, 0);
    }

.AddShow{
    margin-top:20px;
    background-color: rgb(248,219,7, 0.5);

}

body * {
    
    z-index: 1;
    font-family: "Open Sans", sans-serif;
    color: rgb(4, 4, 8);
    text-align: center; 


} 


a:link{
    text-decoration: none;
}

.card:hover{
background-color:rgb(224, 224, 218);
}



a:link:hover{
    color: black;

}
a.link:visited
 {
    color: black;
}
